.mec-intro{

    background-color: #141414;
    .mec-intro_box{
        margin: auto;
        padding: auto;
        text-align: left;
        color: white;
        width: 100%;

        h2{
            font-size: 26px;
        //    width: 40%;
        }
        h6{
            font-size: 14px;
          //  width: 40%;
        }

    }
}